
/* Titles */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding-bottom: 10px;
  /* line-height: 2; */
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  /* line-height: 2; */
}


.blass {
  color: #8f8f8f
}


.sub-2021 {
  color: #290001;
  font-size: 0.75rem;
}

.footer-link {

    color: #835858;
    font-family: 'Merriweather', serif;
    margin: 20px 10px;
    text-decoration: none;

}


/* SECTIONS */
.header-section {
  background-color: #ea5969;
  color: white;
  padding: 7% 5%;
  text-align: center;
}

.light-section {
  background-color: #f5e6ca;
  color: #343f56;
  padding: 7% 15%;
  text-align: center;
}

.dark-section {
  background-color: #343f56;
  color: #f5e6ca;
  padding: 7% 15%;
  text-align: center;
}

.contact-me {
  text-align: center;
  width: 40%;
  margin: auto;
}

.bottom-container {
background-color: #CBAF87;
padding: 30px;
color: #290001;
margin: auto;
text-align: center;
font-family: verdana, sans-serif;
  /* font-family: 'Syne Mono', monospace; */
font-family: 'Merriweather', serif;


}


/* Image */
.circule {
  border-radius: 50%;
}

.appIcon {
  width: 100;
  border-radius: 20%;
  margin-bottom: 1rem;
}

.appIcon:hover {
  /* box-shadow: -2px 0, 0 2px, 2px 0, 0 -2px; */
  box-shadow:0 0 10px white;
}

.skillIcon {
  border-radius: 20%;
  margin-bottom: 1rem;
}


.edIcon {
  border-radius: 20%;
  margin-bottom: 1rem;
}

.edIcon:hover {
  box-shadow:0 0 10px white;
}

/* Items */
.item {
  padding: 2%;

}
.baseline {
  align-items: stretch;
}



.red {
  color: red;
}
